<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="light.css">
    <link rel="stylesheet" href="dark.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container light">
        <div class="login-main-container">
            <div class="login-center-group">
                <div class="login-card">
                    <span>Cura | icon</span>
                    <form action="">
                        <input class="login-input" type="text" name="username" id="" placeholder="Имя пользователя">
                        <input class="login-input" type="password" name="password" id="" placeholder="Пароль">
                        <button class="login-btn">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Preview animations -->
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            gsap.to('.login-card',
                {
                    "--border-angle": "360deg",
                    "--border-opacity": 0,
                    duration: 1.5,
                    ease: "power2.out"
                }
            ).play()
        });

    </script>
</body>

</html>