# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.continue
dist

postgres_data
prisma/generated
prisma/migrations

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
